*.pdb
*.jpg
*.kin
*.c
*~
*.txt
*.pyc
*.gp
SJ
DXseqdvec.py
Dvec2tile.py
Dvector.eps
Dvector.pdf
Dvector.ps
dseca.f
test.ps
/former
/dxseq
/pyqt4
/pyside
*.log
/myplot.pdf
/README.html
/README.org
/figures/CR-front-c.png
/figures/CR-front.png
/figures/CR-side-c.png
/figures/CR-side.png
/figures/CR-top-c.png
/figures/CR-top.png
/figures/curvature.svg
/figures/dx-hp
/figures/dx-hp-mol
/figures/dx-hp-mol.gif
/figures/dx-hp.gif
/figures/stloo
/figures/stloo-mol
/figures/stloo-mol.gif
/figures/stloo.gif
